*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  border:4px black;
}
header {
  background-color:#75e2e6;
  width:100%;
  height:85px;
  border-bottom: 3px solid #048eaa;
}
h1{
  font-weight: normal;
  font-size: 25px;
}
strong {
  font-weight: 800;
 }
footer {
  display: block;
  background-color:#048eaa;
  overflow: hidden;
  height: 220px;
  width: 100%;
}
a {
  color: black;
  text-decoration:none;
  margin: 20px;
  font-size: 24px;
}
.navButtons{
  float: right;
  margin-top: 25px;
}
.siteAbout__ {
  margin: 0px 0px 35px 0px;
  text-align: center;
  color:#ffffff;
  padding: 30px 0px 0px 15px;
  font-size: 42px;
}
.bgImg {
  background: linear-gradient( rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32) ), url(images/park.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom: 3px solid lightGray;
}
#smallName {
  display:block;
  text-indent:34.5%;
  color: white;
  font-size: 20px;
}
.nameDog {
   display:block;
   height:60px ;
   width:450px ;
   margin: 0px auto;
   font-size: 20px;
}
#nameDoge {
   background-color:#75e2e6;
   margin-top: 25px;
}
.left,
.middle,
.right  {
  float: left;
  padding:25px 70px 0px 70px;
  height: 770px;
  margin:3px;
  border: 0px solid gold;
}
/* #leftDog {
  margin-left: 3px;
} */
.dog {
  width: 225px;
  height: 225px;
  border-radius:50%;
  border-color:#048eaa;
  /* box-shadow: 0 0 0 4pt #048eaa; */
  margin: 0px auto;
  border: 6px solid #048eaa;
}
#bigDog {
  display: block;
}
.dogMargin {
  margin-left: 20px;
}
.dog3button {
  width:320px;
  font-size: 20px;
  color: white;
  background-color:#048eaa;
  padding: 13px;
  display: block;
  margin:0px auto;
}
.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}
.centerH12 {
  margin-left: 21%;
}
.centerH3 {
  margin-left: 14%;
}
.socialMediaButt {
display: inline-block;
margin: 15px 0px 0px 50px;
}
#smButtonCenter {
  width: 90%;
  display: block;
  margin: auto;
}
#twit {
  margin-left: 28%;
}
.mid {
  width: 100%;
  display: block;
  text-align: center;
  color: white;
  font-size: 20px;
  padding-top: 20px;
}
.icon {
  margin-left: 25px;
  margin-top: 8px;
}
.nonsense {
  width:315px ;
  height:280px ;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
}
#blackBorder {
  border:1px solid black;
}
