body {
  margin:0px auto;
  display: grid;
  grid-template-areas:
  "nav top-form"
  "nav dog1"
  "nav dog2"
  "nav dog3"
  "nav footer";
  grid-template-rows: 1fr .6fr .6fr .6fr .4fr;
  grid-template-columns: 200px auto;
  font-family: "Open Sans", sans-serif;
}

header {
grid-area: nav;
background-color: #9A969C;
display: flex;
flex-direction: column;
align-items: center;
border-right: 3px solid black;
}

.bgImg {
  grid-area: top-form;
  background-color: #3E3544;
  color: #ffffff;
  display: grid;
  grid-template-areas: "dog form";
}

.left {
  grid-area: dog1;
}

.middle {
  grid-area: dog2;
}

.right {
  grid-area: dog3;
}

footer {
  grid-area: footer;
  background-color: #3E3544;
}

.icon {
  height: 150px;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.navButtons {
height:220px;
display:flex;
flex-direction: column;
justify-content: space-around;
}

#bigDog {
  grid-area: dog;
  height: 400px;
  width: 400px;
  border: 10px solid #9A969C;
  margin: 30px 0px 30px 50px;
}

.siteAbout__,
#smallName,
form {
  grid-area: form;
  align-items:stretch;
}

article {
  display: grid;
  grid-template-areas:
  "artName null"
  "dogPic paragraph"
  "dogPic button";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 4fr;
}


.centerH1,
.centerH2,
.centerH3 {
  grid-area: artName;
}

.nonsense{
  grid-area: paragraph;
}

.dog {
  height: 200px;
  width: 200px;
  border-radius:50%;
  border: 6px solid #9A969C;
  grid-area: dogPic;
}

.dog3button {
  grid-area: button;
  height: 60px;
  width: 200px;
}
